[firehose]

; sqlite database to write
; unset it, leave it empty, or set to 'None' to not use the database
database = firehose.db

; unset, leav it empty, or set to 'None' to not write json log to disk
; otherwise log to "${logbase}.${timestamp}.json"
logbase = firehose_log

; which user to connect as, see named section below
user = MyTwitterUser

; a set of terms to filter on
keywords = @twitter @safety #twitter #trending ...

; your API consumer key and secret
consumer_key = XXXXXXXXXXXXXXXXXXXXX
consumer_secret = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[MyTwitterUser]
access_key = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
access_secret = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
